[submodule "Game"]
	path = Lemma/Game
	url = git@bitbucket.org:etodd/lemma-game-assets.git
[submodule "LemmaAnalytics"]
	path = LemmaAnalytics
	url = git@bitbucket.org:etodd/lemmaanalytics.git
[submodule "SharpZipLib"]
	path = SharpZipLib
	url = git@github.com:etodd/SharpZipLib.git
[submodule "Steamworks.NET"]
	path = Steamworks.NET
	url = git@github.com:etodd/Steamworks.NET.git
	ignore = dirty