@font-face
{
	font-family: Signika;
	src: url('assets/Signika-Bold.otf') format('opentype');
	font-weight: bold;
}

html, body
{
	padding: 0px;
	margin: 0px;
	background-color: #000;
	color: #fff;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: small;
	line-height: 1.5em;
}

a
{
	color: #5bafcd;
	text-decoration: none;
}

a img
{
	border: 0px;
}

#container, article
{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	width: 100%;
	background-image: url(graphics/header.svg);
	background-size: 60%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100px;
}

header h1
{
	display: none;
}

header.svg-fallback
{
	background-image: url(graphics/header.png);
}

a:hover
{
	color: #ff0000;
}

h1, h2, h3
{
	margin-top: 1em;
	margin-bottom: 0px;
	font-family: Signika;
	text-transform: uppercase;
	line-height: 100%;
}

h1
{
	margin-top: 0px;
	font-size: 2.5em;
}

h2
{
	font-size: 2em;
}

h3
{
	font-size: 1.5em;
}

#menu
{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1em;
	padding-bottom: 1em;
}

tr td
{
	display: block;
}

#menu tr td a
{
	font-weight: bold;
	font-size: medium;
	text-transform: uppercase;
}

#menu tr td
{
	text-align: center;
}

td
{
	vertical-align: top;
}

table
{
	width: 100%;
}

#article-container
{
	background-color: #222;
}

article
{
	padding: 1em;
	overflow: hidden;
}

p
{
	line-height: 150%;
}

.sidebar
{
	padding: 1em;
	background-color: black;
	margin-bottom: 1em;
}

footer
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

@media screen and (min-width: 600px)
{
	tr td
	{
		display: table-cell;
	}

	header
	{
		height: 138px;
	}
}
@media screen and (min-width: 780px)
{
	.content
	{
		width: 61%;
		float: right;
	}

	.sidebar
	{
		float: left;
		width: 31%;
	}
}