@font-face
{
	font-family: Signika;
	src: url('assets/Signika-Bold.otf') format('opentype');
	font-weight: bold;
}

html, body
{
	padding: 0px;
	margin: 0px;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: small;
}

body
{
	background-color: #000;
	color: #fff;
}

a
{
	color: #5bafcd;
	text-decoration: none;
}

a img
{
	border: 0px;
}

blockquote
{
	margin-left: 0px;
	margin-right: 0px;
}

#container
{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	width: 100%;
	background-image: url(graphics/header.svg);
	background-size: 60%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 80px;
}

header.svg-fallback
{
	background-image: url(graphics/header.png);
}

a:hover
{
	color: #ff0000;
}

h1, h2, h3
{
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: Signika;
	text-transform: uppercase;
	line-height: 100%;
}

h1
{
	font-size: 2.5em;
}

h2
{
	font-size: 2em;
}

h3
{
	font-size: 1.5em;
}

#menu
{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Signika;
}

tr td
{
	display: block;
}

#menu tr td a
{
	text-transform: uppercase;
	font-size: medium;
	font-weight: normal;
	color: #fff;
}

#menu tr td a:hover
{
	color: #ff0000;
}

#menu tr td
{
	text-align: center;
}

td
{
	vertical-align: top;
}

table
{
	width: 100%;
}

article
{
	background-color: #262626;
	padding: 10px;
}

blockquote
{
	background-color: #fff;
	color: #000;
	padding: 10px;
	border-radius: 5px;
	font-size: larger;
}

p
{
	line-height: 150%;
}

article #news img
{
	max-width: 100%;
	height: auto !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#twitter-feed, #sidebar
{
	margin-bottom: 20px;
}

#sidebar
{
	padding: 20px;
	background-color: black;
}

.twtr-doc
{
	width: 100% !important;
}

@media screen and (min-width: 590px)
{
	tr td
	{
		display: table-cell;
	}
	
	#menu
	{
		background-color: #fff;
	}
	
	#menu tr td a
	{
		color: #000;
	}

	header
	{
		height: 128px;
	}

	body
	{
		background-image: url(graphics/header-background.jpg);
		background-repeat: no-repeat;
		background-position: center top;
	}

	article
	{
		padding: 20px;
		padding-left: 40px;
		padding-right: 40px;
		background-color: rgba(40, 40, 40, 0.85);
	}

	#sidebar
	{
		background-color: rgba(0, 0, 0, 0.6);
	}
}

@media screen and (min-width: 960px)
{
	#menu
	{
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	blockquote
	{
		margin-left: 40px;
		margin-right: 40px;
	}

	article
	{
		padding: 30px;
		padding-left: 70px;
		padding-right: 70px;
	}

	#twitter-feed, #sidebar
	{
		float: right;
		margin-left: 10px;
		width: 250px;
	}

	.twtr-doc
	{
		width: 250px !important;
	}
}