tr td
{
	display: table-cell;
}

header
{
	height: 128px;
}

body
{
	background-image: url(graphics/header-background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

article
{
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.1);
}

#sidebar
{
	background-color: rgba(0, 0, 0, 0.6);
}