<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Lemma{% block title %}{% endblock %}</title>
	<link href="http://fonts.googleapis.com/css?family=Signika:700" rel="stylesheet" type="text/css"/>
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="{% block description %}{% endblock %}" />
	<link href="/base.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
	<script src="/assets/jquery-1.7.1.min.js"></script>
	<script src="/assets/jquery.fitvids.js"></script>
	<script src="/base.js"></script>
	{% block extrahead %}{% endblock %}
</head>
<body>
	<div id="container">
		<a href="/">
			<header>
				<h1>Lemma</h1>
			</header>
		</a>
		<table id="menu">
			<tr>
				<td><a href="http://et1337.itch.io/lemma">Play the Demo</a></td>
				<td><a href="http://et1337.com">Blog</a></td>
				<td><a href="http://indiedb.com/games/lemma">IndieDB</a></td>
				<td><a href="press">Press</a></td>
			</tr>
		</table>
	</div>
	<div id="article-container">
		<article>
			{% block content %}{% endblock %}
		</article>
	</div>
	{% block footer %}{% endblock %}
</body>
</html>