{% extends "_base.html" %}

{% block content %}
	<h1>About</h1>
	
	<h3>What is this?</h3>
	<p>
		Lemma is an immersive <b>first-person parkour</b> game.
		Every parkour move has the potential to <b>modify the environment</b>; surfaces pop in and out of existence at will.
	</p>
	
	<h3>Where can I buy it?</h3>
	<p>
		Hopefully, on Steam and Desura very soon. <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=105075009">Help me make it a reality on Steam!</a>
	</p>
	
	<a href="http://gravatar.com/et1337"><img style="float: left; margin-right: 10px; margin-bottom: 10px;" src="http://www.gravatar.com/avatar/f1385752761906e7f9b0008c0c3d699f.png" /></a>
	<h3>Who are you?</h3>
	<p>
		Hi! I'm Evan, an independent developer from Ohio. I started this project in my spare time in October 2010. The goal is to release a short but sweet single-player game on Steam and Desura.
	</p>
	
	<h3>How can I contact you?</h3>
	<ul>
		<li><a href="mailto:et1337@gmail.com">et1337@gmail.com</a></li>
		<li><a href="http://twitter.com/et1337">@et1337</a></li>
	</ul>
	
	<h3>Who else worked on this game?</h3>
	<p>
		The music was composed by the lovely and talented <a href="http://jackmenhorn.com/">Jack Menhorn</a>. He also helped with many of the sound effects.
		I mixed the other sounds from <a href="http://freesound.org">FreeSound</a> samples. The full attribution list is available <a href="https://github.com/et1337/Lemma/blob/master/attribution.txt">here</a>.
	</p>
	
	<h3>Is Lemma open source?</h3>
	<p>
		<b>Mostly yes!</b>
		The engine, editor, and some of the assets are open source, <a href="https://github.com/et1337/Lemma">right here on GitHub!</a>
		Most of the actual game content is not open source largely due to licensing issues.
	</p>
	
	<h3>Got any eye candy?</h3>
	<p>
		So glad you asked.
	</p>
	<iframe class="imgur-album" width="100%" height="550" frameborder="0" src="http://imgur.com/a/gohmo/embed"></iframe>
{% endblock %}