{% extends "_base.html" %}

{% block content %}
	<h1>About</h1>
	<div id="sidebar">
		<h3>Need to get a hold of me?</h3>
		<ul>
			<li><a href="mailto:et1337@gmail.com">et1337@gmail.com</a></li>
			<li><a href="http://twitter.com/et1337">@et1337</a></li>
		</ul>
	</div>
	<a href="http://gravatar.com/et1337"><img style="float: left; margin-right: 10px; margin-bottom: 10px;" src="http://www.gravatar.com/avatar/f1385752761906e7f9b0008c0c3d699f.png" /></a>
	<h3>Hi! I'm Evan Todd.</h3>
	<p>
		<b>I'm the lead developer for Lemma.</b>
		I started this project in my spare time in October 2010. The goal is to release a short and sweet single-player game on Desura and Steam.
	</p>
	<p>
		<b>Right, on to the game then.</b>
		Lemma is an immersive first-person parkour game set on a mysterious desolate island.
		Every parkour move executed has the potential to modify the environment; surfaces pop in and out of existence at will.
		As you delve deeper into the island, you communicate via text message with a mysterious person stranded somewhere on the island with you.
	</p>
	<p>
		<b>Who's worked on this game?</b>
		The music was composed by the lovely and talented <a href="http://jackmenhorn.com/">Jack Menhorn</a>. He also helped with many of the sound effects.
		I pulled the other sounds from <a href="http://freesound.org">FreeSound</a> and edited them in <a href="http://audacity.sourceforge.net/">Audacity</a>. The full attribution list is available with the game.
	</p>
	<p>
		And now... LET THEM HAVE EYE CANDY!
	</p>
	<iframe class="imgur-album" width="100%" height="550" frameborder="0" src="http://imgur.com/a/gohmo/embed"></iframe>
{% endblock %}