{% extends "_base.html" %}

{% block content %}
	<h1>Alphas</h1>
	
	<p>
		<b>These are <em>unfinished</em> releases which do not reflect the state of the final product!</b>
	</p>
	
	<h3>Alpha 3</h2>
	<small>May 6, 2013</small><br />
	<iframe width="560" height="315" src="http://www.youtube.com/embed/wwnujGWmhEg" frameborder="0" allowfullscreen></iframe>
	<table>
		<tr>
			<td style="width: 50%;">
				<a href=""><b>Windows Zip File (127 MB)</b></a> (pending)<br />
				<small>
					MD5 checksum: 1e241af8b3ee7faba75b80bf7d6abe97
				</small>
			</td>
			<td style="width: 50%;">
				<b>Minimum Requirements</b>
				<ul>
					<li>Windows XP</li>
					<li>.NET Framework 4</li>
					<li>XNA Framework 4</li>
					<li>DirectX 10 graphics card (Shader Model 3)</li>
					<li>2 GB RAM</li>
				</ul>
			</td>
		</tr>
	</table>
	
	<hr />

	<h3>Alpha 2</h3>
	<small>Sep 14, 2012</small><br />
	<iframe width="560" height="315" src="http://www.youtube.com/embed/7h_hObwKjNw" frameborder="0" allowfullscreen></iframe>
	<table>
		<tr>
			<td style="width: 50%;">
				<a href="http://www.gamefront.com/files/22258612/Lemma-a2.zip"><b>Windows Zip File (55 MB)</b></a><br />
				<small>
					MD5 checksum: 2d38596dbef5a0a0eb8ebbb31783fbd9
				</small>
			</td>
			<td style="width: 50%;">
				<b>Minimum Requirements</b>
				<ul>
					<li>Windows XP</li>
					<li>.NET Framework 4</li>
					<li>XNA Framework 4</li>
					<li>DirectX 10 graphics card (Shader Model 3)</li>
					<li>2 GB RAM</li>
				</ul>
			</td>
		</tr>
	</table>

	<hr />

	<h3>Alpha 1</h3>
	<small>Feb 27, 2012</small><br />
	<iframe width="560" height="315" src="http://www.youtube.com/embed/lHB1y7FUWOA" frameborder="0" allowfullscreen></iframe>
	<table>
		<tr>
			<td style="width: 50%;">
				<a href="http://www.moddb.com/games/lemma/downloads/lemma-alpha-1"><b>Windows MSI Installer (60 MB)</b></a><br />
				<small>
					<b>Patched Feb 29 with support for mouse inversion</b><br />
					MD5 checksum: 3c7ea4ec5790fd27a5d4db3cfc577029<br /><br />
					<b>Note:</b> You might get a malicious file warning.
					It's because I can't afford a code signing signature at the moment, so the installer has not been signed.
				</small>
				<br />
				<a href="http://173.230.145.242/Lemma-a1.msi"><b>Mirror 1</b></a>
			</td>
			<td style="width: 50%;">
				<b>Minimum Requirements</b>
				<ul>
					<li>Windows XP</li>
					<li>.NET Framework 4.0</li>
					<li>DirectX 10 graphics card (Shader Model 3)</li>
					<li>2 GB RAM</li>
				</ul>
			</td>
		</tr>
	</table>
{% endblock %}