{% extends "_base.html" %}

{% block extrahead %}
<style>
	center
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	article
	{
		background-color: transparent;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
</style>
{% endblock %}

{% block content %}
	<center>
		<b>Lemma</b> is an immersive <b>first-person parkour</b> game.<br />
		Every parkour move has the potential to <b>modify the environment</b>.<br />
		Surfaces pop in and out of existence at will.
	</center>
	<br />
	<iframe width="560" height="315" src="http://www.youtube.com/embed/wwnujGWmhEg?autohide=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
{% endblock %}