{% extends "_base.html" %}

{% block title %} - First-person parkour{% endblock %}

{% block extrahead %}
<style>
	center
	{
		padding-left: 1em;
		padding-right: 1em;
	}
	#article-container
	{
		background-color: transparent;
	}
	article
	{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
</style>
{% endblock %}

{% block description -%}
Lemma is an immersive first-person parkour game.
Every parkour move has the potential to modify the environment.
Surfaces pop in and out of existence at will.
{%- endblock %}

{% block content %}
	<center>
		<b>Lemma</b> is an immersive <b>first-person parkour</b> game.<br />
		Every parkour move has the potential to <b>modify the environment</b>.<br />
		Surfaces pop in and out of existence at will.<br /><br />
		<b>April 3:</b> WE HAVE BEEN <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=239551444">GREENLIT</a>! THANK YOU! Also, here's a <a href="http://youtu.be/QqRM46aXnYU?t=2m15s">new gameplay video!</a> 
	</center>
	<br />
	<iframe width="560" height="315" src="http://www.youtube.com/embed/1CUozMrr_Fw?autohide=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block footer %}
	<footer>
		<br />
		<a href="https://twitter.com/et1337" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<br /><br />
		<a id="twitch" href="http://www.twitch.tv/emt1337">Twitch Stream</a>
		<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
		<script>
			Twitch.init({ clientId: 'c56est2cughcn9tj87viq9j3sugebpn' }, function(error, status)
			{
				Twitch.api({ method: 'streams/emt1337' }, function(error, data)
				{
					$('#twitch').text('Twitch Stream (' + (data.stream !== null ? 'Online' : 'Offline') + ')');
				});
			});
		</script>
	</footer>
{% endblock %}
