{% extends "_base.html" %}

{% block extrahead %}
	<script src="https://www.google.com/jsapi"></script>
	<script src="feed.js"></script>
{% endblock %}

{% block content %}
	<blockquote>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/wwnujGWmhEg" frameborder="0" allowfullscreen></iframe>
		<br />
		<b>Lemma</b> is an immersive <b>first-person parkour</b> game.
		Every parkour move has the potential to <b>modify the environment</b>. Surfaces pop in and out of existence at will!
	</blockquote>
	<h1><a href="http://et1337.wordpress.com/category/lemma">Blog</a></h1>
	<div id="news">
	</div>
	<br />
	<a href="http://et1337.wordpress.com/category/lemma">More posts...</a>
	<script type="text/javascript">
		populateFeed('#news', 'http://et1337.wordpress.com/category/lemma/feed/');
	</script>
{% endblock %}