{% extends "_base.html" %}

{% block title %} - Play{% endblock %}

{% block description -%}
Play the alpha version of Lemma, an immersive first-person parkour game.
{%- endblock %}

{% block content %}
	<h1>Alpha 3</h1>
	May 6, 2013
	
	<p>
		This is an <em>unfinished</em> release which does not reflect the state of the final product!
	</p>
	
	<table>
		<tr>
			<td style="width: 50%;">
				<a href="http://www.indiedb.com/games/lemma/downloads/alpha-31"><b>Windows Zip File (127 MB)</b></a><br />
				<small>
					MD5 checksum: 1e241af8b3ee7faba75b80bf7d6abe97
				</small><br />
				<a href="http://et1337.com/2013/05/06/lemma-alpha-3-ready-to-play/">Release notes</a>
			</td>
			<td style="width: 50%;">
				<b>Minimum Requirements</b>
				<ul>
					<li>Windows XP</li>
					<li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">.NET Framework 4</a></li>
					<li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=20914">XNA Framework 4</a></li>
					<li>DirectX 10 graphics card (Shader Model 3)</li>
					<li>2 GB RAM</li>
				</ul>
			</td>
		</tr>
	</table>
	
	<a href="http://www.indiedb.com/games/lemma/downloads">Older releases</a>
{% endblock %}