{% extends "_base.html" %}

{% block title %} - Press{% endblock %}

{% block content %}
	<div class="sidebar">
		<h1>Factsheet</h1>
		
		<b>Developer:</b><br />
		<a href="http://et1337.com">Evan Todd</a><br />
		Based in Columbus, Ohio<br /><br />
		<b>Website:</b><br />
		<a href="http://et1337.com">et1337.com</a><br />
		<br />
		
		<b>Contact:</b><br />
		<a href="mailto:et1337@gmail.com">et1337@gmail.com</a><br />
		<a href="http://twitter.com/et1337">@et1337</a><br />
		1-614-746-9136<br />
		<br />
		
		<b>Links:</b><br />
		<a href="http://youtube.com/user/StainlessIndieGame">YouTube channel</a><br />
		<a href="http://www.twitch.tv/emt1337">Twitch stream</a><br />
		<br />
		
		<b>Lemma links:</b><br />
		<a href="http://forums.tigsource.com/index.php?topic=17339.0">Dev Log</a><br />
		<a href="https://github.com/et1337/Lemma">Source code</a><br />
	</div>

	<div class="content">
		<h3>Description</h3>
		<p>
			Evan Todd is an independent game developer based in Columbus, Ohio.
		</p>
		
		<h3>History</h3>
		<p>
			Evan started work on Lemma in 2010 while attending university.
			The project originally began as a way to raise money for charity.
			Evan graduated in 2012 and worked for a small iPhone game studio for a year, continuing to develop Lemma part-time.
			Finally realizing Lemma would never survive as a side project, he quit in February 2014 to focus on it full-time.
		</p>
		
		<h3>Videos</h3><br />
		
		<iframe width="560" height="315" src="http://www.youtube.com/embed/wwnujGWmhEg" frameborder="0" allowfullscreen></iframe>
		
		<h3>Images</h3>
		
		<a href="http://s.imgur.com/a/gohmo/zip">Download all as .zip</a>
		<iframe class="imgur-album" width="100%" height="550" frameborder="0" src="http://imgur.com/a/gohmo/embed"></iframe>
		
		<h3>Selected Articles</h3>
		<ul>
			<li>
				"Island Hopping: Lemma"<br />
				<em>- Adam Smith, <a href="http://www.rockpapershotgun.com/2012/02/28/island-hopping-lemma/">Rock Paper Shotgun</a></em>
			</li>
			<li>
				"You Want More Parkour? Check Out The Playable Alpha of 'Lemma'"<br />
				<em>- Chris Priestman, <a href="http://www.indiegamemag.com/you-want-more-parkour-check-out-the-playable-alpha-of-lemma/">Indie Game Magazine</a></em>
			</li>
			<li>
				"Indie Interviews: Evan Todd, Lemma"<br />
				<em>- Michael Weinberg, <a href="http://www.gameaspect.com/indie-interviews-evan-todd-lemma/">GameAspect</a></em>
			</li>
		</ul>
		
		<h3>Collaborators</h3>
		<p>
			<a href="http://jackmenhorn.com/">Jack Menhorn</a> - Music and some sound effects
		</p>
	</div>
{% endblock %}