{% extends "_base.html" %}

{% block title %} - Press{% endblock %}

{% block description -%}
Evan Todd is an independent game developer based in Columbus, Ohio.
{%- endblock %}

{% block content %}
	<div class="sidebar">
		<h1>Factsheet</h1>
		
		<b>Developer:</b><br />
		<a href="http://et1337.com">Evan Todd</a><br />
		Based in Columbus, Ohio<br /><br />
		<b>Website:</b><br />
		<a href="http://et1337.com">et1337.com</a><br />
		<br />
		
		<b>Contact:</b><br />
		<a href="mailto:et1337@gmail.com">et1337@gmail.com</a><br />
		<a href="http://twitter.com/et1337">@et1337</a><br />
		1-614-746-9136<br />
		<br />
		
		<b>Links:</b><br />
		<a href="http://youtube.com/user/StainlessIndieGame">YouTube channel</a><br />
		<a href="http://www.twitch.tv/emt1337">Twitch stream</a><br />
		<br />
		
		<b>Lemma links:</b><br />
		<a href="http://forums.tigsource.com/index.php?topic=17339.0">Dev Log</a><br />
		<a href="https://github.com/et1337/Lemma">Source code</a><br />
	</div>

	<div class="content">
		<a href="http://en.gravatar.com/et1337"><img src="https://secure.gravatar.com/avatar/f1385752761906e7f9b0008c0c3d699f?s=128" alt="Evan Todd" style="float: right; margin-left: 1em; margin-bottom: 1em; max-width: 128px; width: 30%;" /></a>
		<h3>Description</h3>
		<p>
			Evan Todd is an independent game developer based in Columbus, Ohio.
		</p>
		
		<h3>History</h3>
		<p>
			Evan started work on Lemma in 2010 while attending university.
			The project originally began as a way to raise money for charity.
			Evan graduated in 2012 and worked for a small iPhone game studio for a year, continuing to develop Lemma part-time.
			Finally realizing Lemma would never survive as a side project, he quit in February 2014 to focus on it full-time.
		</p>
		
		<h3>Videos</h3><br />
		
		<iframe width="560" height="315" src="http://www.youtube.com/embed/1CUozMrr_Fw" frameborder="0" allowfullscreen></iframe>
		
		<h3>Images</h3>
		
		<a href="http://s.imgur.com/a/gohmo/zip">Download all as .zip</a>
		<iframe class="imgur-album" width="100%" height="550" frameborder="0" src="http://imgur.com/a/gohmo/embed"></iframe>
		
		<h3>Selected Articles</h3>
		<ul>
			<li>
				"It's the <em>Portal</em> of <em>Mirror's Edge</em>-Style Parkour Games"<br />
				<em>- András Neltz, <a href="http://kotaku.com/its-the-portal-of-mirrors-edge-style-parkour-games-1547010803">Kotaku</a></em>
			</li>
			<li>
				"Parkour becomes creation in Lemma"<br />
				<em>- Kieffer Wilson, <a href="http://pixelshrimp.com/news/140-parkour-becomes-creation-in-lemma">Pixel Shrimp</a></em>
			</li>
			<li>
				"Lemma es la mezcla perfecta entre Minecraft, Mirror’s Edge y Portal"<br />
				<em>- Santi Araujo, <a href="http://alt1040.com/2014/03/lemma-kickstarter">ALT1040</a></em>
			</li>
			<li>
				"First-person parkour game Lemma slides onto Kickstarter"<br />
				<em>- Tyler Colp, <a href="http://thebitpulse.com/2014/03/first-person-parkour-game-lemma-slides-onto-kickstarter/">BitPulse</a></em>
			</li>
			<li>
				"Lemma : un peu de Portal, une touche de Mirror’s Edge, une pointe de Minecraft"<br />
				<em>- David Kauffman, <a href="http://blog.lesoir.be/moi-jeux/2014/03/20/13393/">Moi jeux</a></em>
			<li>
				"Lemma: Parcours-Spiel auf Kickstarter"<br />
				<em>- Dieter Schmidt, <a href="http://www.4players.de/4players.php/spielinfonews/Allgemein/35596/2139428/LemmaParcours-Spiel_auf_Kickstarter.html">4Players</a></em>
			</li>
			<li>
				"Island Hopping: Lemma"<br />
				<em>- Adam Smith, <a href="http://www.rockpapershotgun.com/2012/02/28/island-hopping-lemma/">Rock Paper Shotgun</a></em>
			</li>
			<li>
				"You Want More Parkour? Check Out The Playable Alpha of 'Lemma'"<br />
				<em>- Chris Priestman, <a href="http://www.indiegamemag.com/you-want-more-parkour-check-out-the-playable-alpha-of-lemma/">Indie Game Magazine</a></em>
			</li>
			<li>
				"Indie Interviews: Evan Todd, Lemma"<br />
				<em>- Michael Weinberg, <a href="http://www.gameaspect.com/indie-interviews-evan-todd-lemma/">GameAspect</a></em>
			</li>
		</ul>
		
		<h3>Collaborators</h3>
		<p>
			<a href="http://jackmenhorn.com/">Jack Menhorn</a> - Music and some sound effects
		</p>
		
		<h3>YouTube Policy</h3>
		<p>
			Feel free to record audio and video from the game and monetize your videos, just please link back to this website! Contact <a href="http://jackmenhorn.com">Jack</a> if you'd like to use the soundtrack outside of captured gameplay.
		</p>
	</div>
{% endblock %}
